#categories-heading{
    font-size: 2rem;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 2rem 2.5vw;
    padding: 2rem 2.5vw;
}   

#categoties-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 2.5vw;
    padding: 2rem 2.5vw;
}