img{
    width: max(35vw, 150px);
    height: max(20vw, 100px);
    object-fit: cover;
    image-orientation: from-image;
    filter: brightness(0.8);
}

#title{
    text-decoration: none;
    color: black;
    text-decoration-line: none;
}