.footer-content{
    color: #fff;
}

.footer-bottom{
    color: #fff;
}

.footer-body{
    padding: 1rem 2rem;
    background-color: #0b1a24;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.8);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}