.container-products{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3vw 2.5vw;
    margin: 3vw 5vw;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#name{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}

#price{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.im_card{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

#add-to-cart{
    margin-top: 2vh;
    padding: 0.7vw 1.5vw;
    background-color: #1f2d51;
    color: #fff;
    font-size: 15px;
    border: none;
    width: 8dvw;
}

input[type=number]{
    width: 4dvw;
    transform: translate(2dvw);
    text-align: center;
    color: #1f2d51c3;
    font-weight: light;
}